<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="sidebar">
        <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet'>
          <a [routerLink] = "['/home']">Back</a>
  </div>
  <div class="main">
    <p style="float: left;">Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</p><br>
    <!-- <input type="text"placeholder="ex. iddxxx..."  [(ngModel)]="codeName" name="codeName" > -->
    <select [(ngModel)]="codeID" >
      <option *ngFor = "let c of listCodeName" value="{{c.codeId}}" >{{c.codeName}} : {{c.subjectName}}</option>
    </select>

    <p style="clear: both;"></p>

    <p style="float: left;">ปีที่ศึกษา &nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <input type="text"placeholder="ex. 2561"[(ngModel)]="yearOfStudy" name="section" >
    <p style="clear: both;"></p>

    <p style="float: left;">Term &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <select [(ngModel)]="term" name="term">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">summer</option>
    </select>
    <p style="clear: both;"></p>

    <p style="float: left;">Day &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <select [(ngModel)]="day" name="day">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
    <p style="clear: both;"></p>

    <p style="float: left;">StartTime  &nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <select [(ngModel)]="hrStart" name="hrStart">
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
    </select>&nbsp;:
    <select [(ngModel)]="minStart" name="minStart">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
    <p style="clear: both;"></p>

    <p style="float: left;">EndTime  &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <select [(ngModel)]="hrEnd" name="hrEnd">
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
    </select>&nbsp;:
    <select [(ngModel)]="minEnd" name="minEnd">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
    <p style="clear: both;"></p>

    <p style="float: left;">Room &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <input type="text"placeholder="ex. LC.5-S103"[(ngModel)]="room" name="room" >
    <p style="clear: both;"></p>
    
    <p style="float: left;">Speaker &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <input type="text"placeholder="ex. Sukanya"[(ngModel)]="speaker" name="speaker" >
    <p style="clear: both;"></p>

    <p style="float: left;">Section &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</p><br>
    <input type="text"placeholder="ex. 100001"[(ngModel)]="section" name="section" >
    <p style="clear: both;"></p>
    
    <br>
    <button type="submit" class="btn" (click)="addCourse()">Add Course</button>
    
    <router-outlet></router-outlet>
  </div>
    
    
    <!-- <div class="dropdown">
        <button class="dropbtn">Day</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
    </div> -->

    <!-- <p style="float: left;">Subject &nbsp; : &nbsp;</p><br>
    <input type="text"placeholder="ex. computer organizition..."[(ngModel)]="subjectName" name="subjectName" >
    <p style="clear: both;"></p> -->

    <!-- <div>
      <p >Credit :</p>
      <table>
        <tr>
          <th>
            <label class="container">1
              <input type="radio" checked="checked" name="credit" value="1" [(ngModel)]="credit"><span class="checkmark"></span>
            </label>
          </th>
          <th>
            <label class="container">2
              <input type="radio" name="credit" value="2" [(ngModel)]="credit"><span class="checkmark"></span>
            </label>
          </th>
          <th>
            <label class="container">3
              <input type="radio" name="credit" value="3" [(ngModel)]="credit"><span class="checkmark"></span>
            </label>
          </th>
          <th>
            <label class="container">4
              <input type="radio" name="credit" value="4" [(ngModel)]="credit"><span class="checkmark"></span>
            </label>
          </th>
        </tr>
      </table>  
    </div> -->

    <!-- <p style="float: left;">Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</p><br>
    <input type="text"placeholder="ex. 2556"  [(ngModel)]="year" name="year" >
    <p style="clear: both;"></p> -->


    <!-- <div>
        <p>Year :</p>
        <table>
          <tr>
            <th>
                <p>Year :</p>
            </th>
            <th>
              <br>
              <label class="container">1
                <input type="radio" checked="checked" name="year" value="1" [(ngModel)]="year"><span class="checkmark"></span>
              </label>
            </th>
            <th>
                <br>
              <label class="container">2
                <input type="radio" name="year" value="2" [(ngModel)]="year"><span class="checkmark"></span>
              </label>
            </th>
            <th>
                <br>
              <label class="container">3
                <input type="radio" name="year" value="3" [(ngModel)]="year"><span class="checkmark"></span>
              </label>
            </th>
            <th>
                <br>
              <label class="container">4
                <input type="radio" name="year" value="4" [(ngModel)]="year"><span class="checkmark"></span>
              </label>
            </th>
          </tr>
        </table>  
      </div> -->

    <!-- <div>
        <p>Term :</p>
        <table>
          <tr>
            <th>
              <label class="container">1
                <input type="radio" checked="checked" name="term" value="1" [(ngModel)]="term"><span class="checkmark"></span>
              </label>
            </th>
            <th>
              <label class="container">2
                <input type="radio" name="term" value="2" [(ngModel)]="term"><span class="checkmark"></span>
              </label>
            </th>
            <th>
              <label class="container">summer
                <input type="radio" name="term" value="3" [(ngModel)]="term"><span class="checkmark"></span>
              </label>
            </th>
          </tr>
        </table>      
    </div> -->

    <!-- <div>
      <p>Day :</p>
        <label class="container">Monday
          <input type="radio" checked="checked" name="day" value="Monday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Tuesday
          <input type="radio" name="day" value="Tuesday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Wednesday
          <input type="radio" name="day" value="Wednesday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Thursday
          <input type="radio" name="day" value="Thursday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Friday
          <input type="radio" name="day" value="Friday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Saturday
          <input type="radio" name="day" value="Saturday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
        <label class="container">Sunday
          <input type="radio" name="day" value="Sunday" [(ngModel)]="day"><span class="checkmark"></span>
        </label>
    </div> -->

    <!-- <p style="float: left;">StartTime &nbsp;: &nbsp;</p><br>
    <input type="text" placeholder="ex. 10:00:00"[(ngModel)]="startTime" name="startTime" >
    <p style="clear: both;"></p>

    <p style="float: left;">EndTime &nbsp;&nbsp;: &nbsp;</p><br>
    <input type="text" placeholder="ex. 12:00:00"[(ngModel)]="endTime" name="endTime" >
    <p style="clear: both;"></p> -->

    <!-- <div>
        <p>Program :</p>
        <table>
          <tr>
            <th>
              <label class="container">IDD
                <input type="radio" checked="checked" name="program" value="IDD" [(ngModel)]="program"><span class="checkmark"></span>
              </label>
            </th>
            <th>
              <label class="container">CDT
                <input type="radio" name="program" value="CDT" [(ngModel)]="program" ><span class="checkmark"></span>
              </label>
            </th>
          </tr>
        </table>      
    </div> -->
