<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="sidebar">
        <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet'>
          <a [routerLink] = "['/home']">Back</a>
  </div>
  <div class="main">
    <div class="container">
      <!-- style="float: left;" -->
        <input type="text" placeholder="ใส่ชื่อวิชา รหัส ห้อง ผู้สอน หรือ section" name="searchcourse" [(ngModel)]="searchcourse" required >
        <button type="submit" class="btn" (click)="searchCourse()">Search</button>
        <ul>
          <li *ngFor = "let c of courseList"> {{c.id}}:{{c.codeName}}:{{c.subjectName}}
            :{{c.term}}:{{c.day}}:{{c.startTime}}:{{c.endTime}}:{{c.room}}:{{c.speaker}}
            :{{c.program}}:{{c.section}}    
            :{{c.credit}}:{{c.year}} </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
  </div>
