.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
.container {
  /* position: absolute;
  right: 0;
  margin: 20px;*/
  max-width: 350px;
  /*padding: 16px; */
  background-color: white;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(255, 196, 0);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
   /* width: 100%; */
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}