<meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="sidebar">
        <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet'>
          <a [routerLink] = "['/home']">Back</a>
  </div>
  <div class="main">
    <p>
      <br>
        schedule works!
      </p>
      <ul>
        <li *ngFor = "let c of courseList"> {{c.id}}:{{c.codeName}}:{{c.subjectName}}
          :{{c.term}}:{{c.day}}:{{c.startTime}}:{{c.endTime}}:{{c.room}}:{{c.speaker}}
          :{{c.program}}:{{c.section}}    
          :{{c.credit}}:{{c.year}} </li>
      </ul>
    <router-outlet></router-outlet>
  </div>