<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="sidebar">
        <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet'>
          <a [routerLink] = "['/home']">Back</a>
  </div>
  <div class="main">
      <br>
    แบบที่1
    <router-outlet></router-outlet>
  </div>
