<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="sidebar">
        <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet'>
          <a class="active">Home</a>
          <h4 >&nbsp;&nbsp;&nbsp;&nbsp;Course</h4>
          <a [routerLink] = "['/course']">&nbsp;&nbsp;&nbsp;&nbsp;SearchCourse</a>
          <a [routerLink] = "['/addcourse']">&nbsp;&nbsp;&nbsp;&nbsp;AddCourse</a>
          <h4 >&nbsp;&nbsp;&nbsp;&nbsp;Schedule</h4>
          <a [routerLink] = "['/schedule1']">&nbsp;&nbsp;&nbsp;&nbsp;ตารางแต่ละชั้นปี</a>
          <a [routerLink] = "['/schedule2']">&nbsp;&nbsp;&nbsp;&nbsp;ตารางของทุกชั้นปี</a>
          <a [routerLink] = "['/schedule3']">&nbsp;&nbsp;&nbsp;&nbsp;วิชาที่เปิดสอนเทอมนี้</a>
          <a (click)="logout()">Logout</a>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
    
  
   

    
